.mymetadata
.checkstyle
.class
.classpath
.project
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/WEB-INF/.gitignore
/src/main/webapp/userfiles/*
/target/*
/logs/*
/target/
logs
